/*#canvas {*/
    /*height: 360px !important;*/
    /*width: 75% !important;*/
/*}*/

/*.chart-container {
    width: 800px;
    margin: 0 auto;
}*/

#canvas {
    height: 400px !important;
    /*width: 75% !important;*/
}