<!-- Ionicons -->
<link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
<!-- Google Font: Source Sans Pro -->
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed pace-primary">
<div class="wrapper">

    <!-- Navbar -->
    <nav class="main-header navbar navbar-expand navbar-white navbar-light">
      <!-- Left navbar links -->
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" data-widget="pushmenu" href="#"><i class="fas fa-bars"></i></a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
          <a href="" (click)="onDashboard()" class="nav-link">Inicio</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
          <a href="" (click)="onContacto()" class="nav-link">Contacto</a>
        </li>
      </ul>
  
      <!-- SEARCH FORM -->
      <form class="form-inline ml-3">
        <div class="input-group input-group-sm">
          <input class="form-control form-control-navbar" type="search" placeholder="Buscar" aria-label="Search">
          <div class="input-group-append">
            <button class="btn btn-navbar" type="submit">
              <i class="fas fa-search"></i>
            </button>
          </div>
        </div>
      </form>
  
      <!-- Right navbar links -->
      <ul class="navbar-nav ml-auto">
        <!-- Messages Dropdown Menu -->
        <li class="nav-item dropdown">
          <a class="nav-link" data-toggle="dropdown" href="#">
            <i class="far fa-comments"></i>
            <span class="badge badge-danger navbar-badge">3</span>
          </a>
          <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
            <a href="#" class="dropdown-item">
              <!-- Message Start -->
              <div class="media">
                <img src="assets/img/user1-128x128.jpg" alt="User Avatar" class="img-size-50 mr-3 img-circle">
                <div class="media-body">
                  <h3 class="dropdown-item-title">
                    Brad Diesel
                    <span class="float-right text-sm text-danger"><i class="fas fa-star"></i></span>
                  </h3>
                  <p class="text-sm">Call me whenever you can...</p>
                  <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
                </div>
              </div>
              <!-- Message End -->
            </a>
            <div class="dropdown-divider"></div>
            <a href="#" class="dropdown-item">
              <!-- Message Start -->
              <div class="media">
                <img src="assets/img/user8-128x128.jpg" alt="User Avatar" class="img-size-50 img-circle mr-3">
                <div class="media-body">
                  <h3 class="dropdown-item-title">
                    John Pierce
                    <span class="float-right text-sm text-muted"><i class="fas fa-star"></i></span>
                  </h3>
                  <p class="text-sm">I got your message bro</p>
                  <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
                </div>
              </div>
              <!-- Message End -->
            </a>
            <div class="dropdown-divider"></div>
            <a href="#" class="dropdown-item">
              <!-- Message Start -->
              <div class="media">
                <img src="assets/img/user3-128x128.jpg" alt="User Avatar" class="img-size-50 img-circle mr-3">
                <div class="media-body">
                  <h3 class="dropdown-item-title">
                    Nora Silvester
                    <span class="float-right text-sm text-warning"><i class="fas fa-star"></i></span>
                  </h3>
                  <p class="text-sm">The subject goes here</p>
                  <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
                </div>
              </div>
              <!-- Message End -->
            </a>
            <div class="dropdown-divider"></div>
            <a href="#" class="dropdown-item dropdown-footer">See All Messages</a>
          </div>
        </li>
        <!-- Notifications Dropdown Menu -->
        <li class="nav-item dropdown">
          <a class="nav-link" data-toggle="dropdown" href="#">
            <i class="far fa-bell"></i>
            <span class="badge badge-warning navbar-badge">15</span>
          </a>
          <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
            <span class="dropdown-item dropdown-header">15 Notifications</span>
            <div class="dropdown-divider"></div>
            <a href="#" class="dropdown-item">
              <i class="fas fa-envelope mr-2"></i> 4 new messages
              <span class="float-right text-muted text-sm">3 mins</span>
            </a>
            <div class="dropdown-divider"></div>
            <a href="#" class="dropdown-item">
              <i class="fas fa-users mr-2"></i> 8 friend requests
              <span class="float-right text-muted text-sm">12 hours</span>
            </a>
            <div class="dropdown-divider"></div>
            <a href="#" class="dropdown-item">
              <i class="fas fa-file mr-2"></i> 3 new reports
              <span class="float-right text-muted text-sm">2 days</span>
            </a>
            <div class="dropdown-divider"></div>
            <a href="#" class="dropdown-item dropdown-footer">See All Notifications</a>
          </div>
        </li>
        <li class="nav-item dropdown user-menu">
            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
              <img src="assets/img/user2-160x160.jpg" class="user-image img-circle elevation-2" alt="User Image">
              <span class="d-none d-md-inline">{{ nombreDash }}</span>
            </a>
            <ul class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
              <!-- User image -->
              <li class="user-header bg-primary">
                <img src="assets/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
    
                <p>
                  {{ nombreDash }} - Couch
                  <small>Miembro desde {{ mes }} de {{ anio }}</small>
                </p>
              </li>
              <!-- Menu Body -->
              <li class="user-body">
                <div class="row">
                  <div class="col-4 text-center">
                    <a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                  </div>
                  <div class="col-4 text-center">
                    <a href="#">Atletas</a>
                  </div>
                  <div class="col-4 text-center">
                    <a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                  </div>
                </div>
                <!-- /.row -->
              </li>
              <!-- Menu Footer-->
              <li class="user-footer">
                <a href="javascript:void(0)" (click)="onMiPerfil()"  class="btn btn-default btn-flat">Mi perfil</a>
                <a href="" (click)="onCerrarSesion()" class="btn btn-default btn-flat float-right">Cerrar sesión</a>
              </li>
            </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-widget="control-sidebar" data-slide="true" href="#">
            <i class="fas fa-th-large"></i>
          </a>
        </li>
      </ul>
    </nav>
    <!-- /.navbar -->
  
    <!-- Main Sidebar Container -->
    <aside class="main-sidebar sidebar-dark-primary elevation-4">
      <!-- Brand Logo -->
      <a href="index3.html" class="brand-link">
        <img src="assets/img/AdminLTELogo.png" alt="AdminAce Logo" class="brand-image img-circle elevation-3"
             style="opacity: .8">
        <span class="brand-text font-weight-light">Ace Couch</span>
      </a>
  
      <!-- Sidebar -->
      <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
          <div class="image">
            <img src="assets/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
          </div>
          <div class="info">
            <a href="#" class="d-block">{{ nombreDash }}</a>
          </div>
        </div>
  
        <!-- Sidebar Menu -->
        <nav class="mt-2">
          <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            <!-- Add icons to the links using the .nav-icon class
                 with font-awesome or any other icon font library -->
            <li class="nav-item">
              <a href="" (click)="onDashboard()" class="nav-link">
                <i class="nav-icon fas fa-tachometer-alt"></i>
                <p>
                  Dashboard
                </p>
              </a>
            </li>
            <li class="nav-header">A MI CARGO</li>
            <li class="nav-item">
              <a href="javascript:void(0)" (click)="onMisAtletas()" class="nav-link active">
                <i class="nav-icon fas fa-dumbbell"></i>
                <p>
                  Mis atletas
                  <span class="badge badge-info right">{{ conteo }}</span>
                </p>
              </a>
            </li>
            <li class="nav-header">ADMINISTRACIÓN</li>
            <li class="nav-item">
              <a href="javascript:void(0)" (click)="onAtletas()" class="nav-link">
                <i class="nav-icon fas fa-running"></i>
                <p>Atletas</p>
              </a>
            </li>
          </ul>
        </nav>
        <!-- /.sidebar-menu -->
      </div>
      <!-- /.sidebar -->
    </aside>
  
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <div class="container-fluid">
            <div class="row mb-2">
              <div class="col-sm-6">
                <h1>Mis Atletas</h1>
              </div>
              <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                  <li class="breadcrumb-item"><a href="#">Mis Atletas</a></li>
                  <li class="breadcrumb-item active">{{ username }}</li>
                </ol>
              </div>
            </div>
          </div><!-- /.container-fluid -->
        </section>
    
        <!-- Main content -->
        <section class="content">
          <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">En este apartado podras ver todo lo relacionado a tu atleta. </h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body table-responsive-xl">
                            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table mat-elevation-z8 row-border hover table-bordered">
                                <thead style="text-align: center;">
                                  <tr>
                                    <th>Número de Atleta</th>
                                    <th>Username</th>
                                    <th>Nombre</th>
                                    <th>Apellido</th>
                                    <th>Fecha de nacimiento</th>
                                    <th>Opciones</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr *ngFor="let atleta of DAteltas;let indice=index">
                                    <td>{{ indice+1 }}</td>
                                    <td>{{ atleta.username }}</td>
                                    <td>{{ atleta.nombre }}</td>
                                    <td>{{ atleta.apellido }}</td>
                                    <td>{{ spliFecha(atleta.fecha_nac) }}</td>
                                    <td class="alinearContenido">
                                        <button  class="btn btn-primary btn-sm" (click)="onDarInfo(atleta.id_usuario)" data-toggle="modal" data-target="#modal-primary">
                                            <i class="fas fa-eye"></i>
                                            Ver
                                        </button >
                                        <button class="btn btn-success btn-sm sangria" >
                                            <i class="nav-icon fas fa-tachometer-alt"></i>
                                            Dashboard
                                        </button>
                                        <button class="btn btn-danger btn-sm" (click)="onIrRCAD(atleta.id_usuario)">
                                            <i class="fa fa-heartbeat" aria-hidden="true"></i>
                                            RC
                                        </button>
                                        <button class="btn btn-warning btn-sm sangria" (click)="onIrTC(atleta.id_usuario)">
                                            <i class="fas fa-thermometer-three-quarters"></i>
                                            TC
                                        </button>
                                        <button class="btn btn-info btn-sm" (click)="onIrOS(atleta.id_usuario)">
                                            <i class="ion ion-ios-analytics"></i>
                                            OS
                                        </button>
                                    </td>
                                  </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
          </div><!-- /.container-fluid -->


          <div class="modal fade" id="modal-primary">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-body">
                   <!-- Profile Image -->
                    <div class="card card-primary card-outline">
                        <div class="card-body box-profile">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            <div class="text-center">
                                <img class="profile-user-img img-fluid img-circle"
                                    src="assets/img/user1-128x128.jpg"
                                    alt="User profile picture">
                            </div>
            
                            <h3 class="profile-username text-center">{{ nombreUA }}</h3>
                            <p class="text-muted text-center">Atleta</p>
            
                            <ul class="list-group list-group-unbordered mb-3">
                                <li class="list-group-item">
                                <b>Username</b> <a class="float-right">{{ usernameUA }}</a>
                                </li>
                                <li class="list-group-item">
                                <b>Fecha nacimiento</b> <a class="float-right">{{ fecha_nacUA }}</a>
                                </li>
                                <li class="list-group-item">
                                <b>Edad</b> <a class="float-right"> {{ edadUA }} años</a>
                                </li>
                                <li class="list-group-item">
                                <b>Peso</b> <a class="float-right">{{pesoUA}} kg</a>
                                </li>
                                <li class="list-group-item">
                                <b>Estatura</b> <a class="float-right">{{ estaturaUA }} m</a>
                                </li>
                                <li class="list-group-item">
                                <b>Género</b> <a class="float-right">{{sexoUA}}</a>
                                </li>
                                <li class="list-group-item">
                                <b>Fecha de incripción</b> <a class="float-right">{{inscripcion}}</a>
                                </li>
                                <li class="list-group-item">
                                <b>Dirección</b> <a class="float-right">{{direccionUA}}</a>
                                </li>
                                <li class="list-group-item">
                                <b>Teléfono</b> <a class="float-right">{{telefonoUA}}</a>
                                </li>
                            </ul>
                        </div>
                    <!-- /.card-body -->
                  </div>
                  <!-- /.card -->
                </div>
              </div>
              <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
          </div>
          <!-- /.modal -->



        </section>
        <!-- /.content -->
      </div>
    <!-- /.content-wrapper -->
    <footer class="main-footer">
      <strong>Copyright &copy; 2021 <a href="https://erickace.github.io/ace/login">Ace</a>.</strong>
      All rights reserved.
      <div class="float-right d-none d-sm-inline-block">
        <b>Version</b> 3.0.0
      </div>
    </footer>
  
    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
      <!-- Control sidebar content goes here -->
    </aside>
    <!-- /.control-sidebar -->
  </div>
  <!-- ./wrapper -->
</body>