.quitarContorno:focus {
    outline: 0px dotted !important;
    outline: 0px auto -webkit-focus-ring-color !important;   
}

.alinearContenido {
    text-align: center;
}

.bajar {
    margin-top: 8%;
}

.sangria {
    margin-left: 1% !important;
    margin-right: 1% !important;
}

.modal-body {
    padding: 0 !important;
}